@import "tailwindcss";

:root {
  --primary:rgb(255, 172, 19);
  --secondary:black;
  --accent:rgb(243, 158, 0);
  --primary-soft:orange;
  --secondary-soft:rgb(151, 146, 146);
  --accent-soft:orange;

}

@keyframes slide-hero {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); } 
}
.animate-slide-hero {
  animation: slide-hero 30s linear infinite;
}

.text-primary{
  @apply text-orange-600
}
.text-secondary{
  @apply text-black
}
.text-accent{
  @apply text-orange-800
}
.bg-primary{
  @apply bg-orange-600
}
.bg-secondary{
  @apply bg-black
}
.bg-accent{
  @apply bg-orange-800
}
.text-secondary-soft{
  @apply text-gray-500
}
.hover-text-primary{
  @apply hover:text-orange-600
}
.hover-bg-primary{
  @apply hover:bg-orange-600/40
}
.bg-primary-light{
  @apply bg-orange-600/10
}
.border-primary{
  @apply border border-orange-600
}

